body
{
    /*background-image: url('img/3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: 110%;
    font-family: 'Trebuchet MS', Arial, sans-serif;*/
    background-color: #247384;
    margin: 0px;
    padding: 0px;
}

/*Barre de menu en html5 ccs3*/
header
{
    margin-left: 100px; 
    margin-right: 100px;
    border-left: 2px solid aquamarine;
    border-right: 2px solid aquamarine;
}

nav
{
    width: 100%;
    margin: 0 auto;
    background-color: #77b9c7;
    position: sticky;
    top: 0px;
}

nav ul
{
    list-style: none;
}

nav ul li
{
    float: left;
    width: 19%;
    text-align: center;
    position: relative;
}

nav ul li a
{
    font-size: 1.4em;
}

nav ul::after
{
    content: "";
    display: table;
    clear: both;
}

nav a
{
    display: block;
    text-decoration: none;
    color: navy;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover
{
    color: aquamarine;
    border-bottom: 2px solid navy;
}

nav > ul li:hover .sub
{
    display: block;
}

.sub
{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: turquoise;
    position: absolute;
    width: 80%;
    z-index: 1000;
}

.sub li
{
    float: none;
    width: 100%;
    text-align: left;
    list-style-type: circle;
}

.sub a
{
    padding: 10px;
    border-bottom: none;
    font-size: 1.2em;
}

.sub a:hover
{
    border-bottom: none;
    background-color: turquoise;
}

.dwrap > a::after
{
    /*content: "";*/
    font-size: 12px;
}

.all
{
    width: auto;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 20px;
    padding-right: 20px;
    border-left: 2px solid aquamarine;
    border-right: 2px solid aquamarine;
}

div.all 
{
    background-color: #77b9c7;
}

.info_user
{
    margin-top: 0px;
    padding-top: 10px;
    text-align: center;
}

.anim
{
    /*-webkit-perspective: 100px;*/
    -webkit-animation: infou 2s linear infinite;
    -webkit-animation-iteration-count: 1;
    /*perspective: 100px;*/
    animation: infou 2s linear infinite;
    animation-iteration-count: 1;
}

@-webkit-keyframes infou
{
    0% { opacity: 0; } 
    15% { opacity: 0; }
    20% { opacity: 1; }
    25% { opacity: 0; }
    30% { opacity: 1; } 
    35% { opacity: 0; }  
    40% { opacity: 0.1; } 
    45% { opacity: 0.2; } 
    55% { opacity: 0.3; }
    60% { opacity: 0.4; }
    65% { opacity: 0.5; }
    70% { opacity: 0.6; }
    75% { opacity: 0.7; }
    80% { opacity: 0.8; }
    90% { opacity: 0.9; }
    100% { opacity: 1 }
}

@keyframes infou
{
    0% { opacity: 0; } 
    15% { opacity: 0; }
    20% { opacity: 1; }
    25% { opacity: 0; }
    30% { opacity: 1; } 
    35% { opacity: 0; }  
    40% { opacity: 0.1; } 
    45% { opacity: 0.2; } 
    55% { opacity: 0.3; }
    60% { opacity: 0.4; }
    65% { opacity: 0.5; }
    70% { opacity: 0.6; }
    75% { opacity: 0.7; }
    80% { opacity: 0.8; }
    90% { opacity: 0.9; }
    100% { opacity: 1 }
}

.security
{
    margin-top: 0px;
    text-align: justify;
    font-size: 1.5em;
    text-shadow: 1px 1px 2px white, 0 0 3px navy, 0 0 5px white;
}

.security h2
{
    text-shadow: 1px 1px 2px white, 0 0 3px aquamarine, 0 0 5px white;
}

.separation
{
    width: 100%;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 5px;
    height: 5px;
    background-color: black;
    border-radius: 5px;
}

.border
{
    font-size: 2em;
    text-shadow: 1px 1px 2px white, 2px 2px 3px lightgreen, 0 0 5px white;
}

.border h3
{
    margin-top: 0px;
    padding-top: 30px;
}

.loader h1
{
    text-align: justify;
    margin-top: 0px;
    padding-top: 20px;
    text-shadow: 1px 1px 2px white, 0 0 3px aquamarine, 0 0 5px white;
    /*color: navy;*/
}

.betwins
{
    width: 20%;
    height: 5px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
    border-radius: 5px;
}

.loader p
{
    text-align: justify;
    margin-top: 20px;
    margin-top: 0px;
    text-shadow: 1px 1px 2px white, 0 0 3px blue, 0 0 5px white;
    font-size: 1.2em;
}

.loader a
{
    text-align: justify;
    margin-top: 0px;
    text-shadow: 1px 1px 2px white, 0 0 3px blue, 0 0 5px white;
    font-size: 1.2em;
}

.infine
{
    width: 70%;
    height: 5px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 5px;
    background-color: black;
    border-radius: 5px;
}

.loadertwo h1
{
    text-align: justify;
    margin-top: 20px;
    text-shadow: 1px 1px 2px white, 0 0 3px aquamarine, 0 0 5px white;
    /*color: navy;*/
}

.betwinstwo
{
    width: 20%;
    height: 5px;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 5px;
    background-color: black;
    border-radius: 5px;
}

.loadertwo p
{
    text-align: justify;
    margin-top: 20px;
    text-shadow: 1px 1px 2px white, 0 0 3px blue, 0 0 5px white;
    font-size: 1.2em;
}

.loadertwo a
{
    text-decoration: none;
    text-align: justify;
    color: red;
}

.loadertwo a:hover
{
    color: yellow;
}

/*footer
{
    position: fixed;
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: #38075a;
    bottom: 0;
}

.borderfoot h3
{
    position: relative;
    padding-top: 5px;
    font-size: 2em;
    text-shadow: 1px 1px 2px white, 2px 2px 3px navy, 0 0 5px white;
}*/

@media screen and (max-width: 1024px)
{
    /*body
    {
        background-image: url('img/3.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-size: 200%;
    }*/

    nav ul li
    {
        width: 150px;
    }

}
