body
{
    background-color: #247384;
}

.frame_table
{
    position: relative;
    width: auto;
    margin-top: 200px;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 5px;
    padding-bottom: 20px;
    color: white;
    text-shadow: 1px 1px navy;
    text-shadow: 1px 1px 1px navy;
    border-radius: 5px;
    box-shadow: 0px 2px 4px #1c1a19;
    background-color: #50b0c5;
}

.content2
{
    position: relative;
    width: auto;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: justify;
    color: yellow;
    text-shadow: 1px 1px navy;
    text-shadow: 1px 1px 1px navy;
}

#mail
{
    text-align: center;
    color: white;
    text-shadow: 1px 1px navy;
    text-shadow: 1px 1px 1px navy;
}

@media screen and (max-width: 1024px)
{
    body
    {
        width: auto;
        height: auto;
    }
    
    .frame_table
    {
        margin-top: 35%;
        margin-left: 15%;
        margin-right: 15%;
        font-size: 2.0em;
    }
    
    .content2
    {
        margin-top: 5%;
        margin-left: 15%;
        margin-right: 15%;
        font-size: 2.0em;
    }
}
